.other-projects-container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(180px, 1fr) );
    /* justify-content: center; */
    /* padding: 20px 60px; */
    align-items: baseline;
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;
}
.brand-icon {
    height: auto;
    max-width: 120px;
    margin: 30px;
    filter: brightness(0.7);
    transition: 0.2s;
}
.other-projects-container a:hover .brand-icon {
    filter: brightness(0.4);
}
