.offer-container-main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main-section {
    margin: 50px 0px 0px 0px;
    display: grid; 
    grid-template-columns: auto auto; 
    grid-template-rows: min-content min-content max-content 1fr; 
    gap: 3px 125px;  
    justify-content: space-evenly; 
    align-content: space-evenly; 
    padding: 20px;
    grid-template-areas: 
    "img offer-name"
    "img offer-id"
    "img short-info"
    "img buy-button"
}
.main-section p {
    margin: 10px;
    line-height: 1.5;
}
.offer-name {
    font-weight: 400;
    font-size: 28px;
}
.offer-id {
    font-size: 14px;
    color: rgb(132, 133, 146);
}
.offer-img {
    border-radius: 6px;
    width: 400px;
    height:  400px;
    grid-area: img;
    background-color: white ;
}
.offer-buy-button {
    height: 40px;
    width: 139px;
    border-radius: 9px;
    border: none;
    background-color: #FFC700;
    cursor: pointer;
    margin: 30px 20px;
    align-self:center;
    transition: 0.2s;
}
.offer-buy-button:hover {
    background-color: #ffd22f;
    color: black;

}
.short-description {
    font-family: 'Nunito Sans', sans-serif;
}
.offer-description {
    font-family: 'Nunito Sans', sans-serif;
}