@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&family=Montserrat:wght@300;400;700&display=swap");
:root {
    -webkit-box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.26);
    --nav-btn-hover-color: #ffa800;
    --masteram-brand-color: #ffa800;
    --siglent-brand-color: #192d4b;
    --neutral-gray-color: #b5b8cf;
    --text-color:rgb(31, 30, 30);
    --nav-btn-color:aliceblue;
    --white-blue-background: #f2f8ff;
    font-family: 'Montserrat';
}

body {
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: 'Montserrat';
}
h1 {
    font-weight: 800;
}
.button-link {
    background-color: var(--siglent-brand-color);
    color: rgb(31, 31, 31);
    border-radius: 30px;
    padding: 0.9em 1.3em;
    color: rgb(235, 235, 235);
    font-size: 14px;
    width: max-content;
    transition: 0.2s;
    margin-top: 23px;
}
.button-link:hover {
    background-color: var(--nav-btn-hover-color);
    color:rgb(31, 31, 31);
}
p {
    color: var(--text-color);
}
/* *{
    outline: 1px solid red;
    } */